@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

html {
  box-sizing: border-box;
  /*background-color: lightgray;*/
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
}

/*
font-family: 'PT Sans', sans-serif;*/
/*
x  text: #0B1942
  inline link: #00B7D3
x  h2 background: #0B1942
x  h2 color: #FFFFFF
x  logo background: #F5005B
x  navigation background: #7DDFE8
x  navigation link color: #FFFFFF
x  "Home" nav link background: #00A5BF
x  "Calendar" nav link background: #00B7D3
x  "Join" nav link background: #00D5E7
x  "Up Next" background: #0B1942
x  "Up Next" card background #E2E2E2
  calendar background and treatments: #0B1942
  calendar highlighted day: #F5005B
  button background: #F5005B
x  copyright text: #FFFFFF*/

/*BREAKPOINTS

smart  -- 320px -- 544px
tablet -- 545px -- 768px
laptop -- 769px -- + and up*/

/*---------------- Break Code ----------------*/

.body-nest {
  /*border: 2px solid blue;*/
  flex-flow: column nowrap;
  /*background-color: lightgray;*/
  /*margin: 1% 1%;*/
}

.nav-nest {
  background-color: #7DDFE8;
  display:flex;
  flex-flow: row wrap;
}

.icon-nest {
  background-color: #F5005B;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  order: 1;
}

.anchor-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 39%;
}

.button-nest {
  display:flex;
  flex-flow: row wrap;
  order: 2;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 60%;
}

.anchor-icon, .button-01, .button-02, .button-03, .copy-right {
  flex: 1 100%;
}

.button-01, .button-02, .button-03, .copy-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 98%;
}

.button-01 a, .button-02 a, .button-03 a {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 2px;
  color: #FFFFFF;
}

.copy-right a {
 text-align: center;
 text-transform: uppercase;
 text-decoration: none;
 padding: 40px 5px;
 color: #FFFFFF;
}

#active {
  background-color: #F5005B;
}

.button-nest div:hover:not(#active) {
    background-color: #0B1942;
}

.button-01 {
  background-color: #00A5BF;
  order: 1;
}

 .button-02 {
  background-color: #00B7D3;
  order: 2;
}

 .button-03 {
  background-color: #00D5E7;
  order: 3;
}

.copy-right {
 order: 4;
}

h1 {
  color: #0B1942;
  padding: 0px 25px;
}

.top-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 1vw;
}

.top-container h2 {
  background-color: #0B1942;
  color: #FFFFFF;
  font-weight: 100;
  font-size: 18px;
  padding: 5px 0px 5px 10px;
}

.top-container-text {
  padding: 2vw;
}

.base-container {
  background-color: #0B1942;
  margin-bottom: 20px;
}

.base-container h1 {
  color: #FFFFFF;
  padding: 20px;
}

.base-card {
  background-color: #E2E2E2;
  margin: 20px;
}

.block-buster-text a {
  font-size: 40px;
  color: #00D5E7;
}

#block-buster {
  display: flex;
  justify-content: flex-start;
}

.movie-poster {
  padding: 20px;
  width: 44vw;
}

.block-buster-text {
  width: 45vw;
  padding: 20px;
  margin: 0;
}

#line-up {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.line-up-image {
  /*padding: 20px;*/
  width: 44vw;
}

.line-up-text {
  width: 44vw;
  padding: 0px 20px;
}

.line-up-text a {
  font-size: 16px;
  color: #00D5E7;
}

/*---------------- Break Code ----------------*/

@media screen and (min-width: 545px) {
  .button-01, .button-02, .button-03 {
    flex-basis: 10vw;
  }

  .copy-right {
    flex-basis: 20vw;
    justify-content: flex-end;
  }

  .button-nest {
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 45%;
  }

  .copy-right a {
    text-align: right;
  }

  .top-container {
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
  }

  #block-buster {
    justify-content: space-around;
  }

}

@media screen and (min-width: 769px) {
  .anchor-icon { flex: 2 0px; }

  .anchor-icon  { order: 1;}
  .button-01    { order: 2;}
  .button-02    { order: 3;}
  .button-03    { order: 4;}
  .copy-right   { order: 5;}
}
